*{
  padding:0;
  margin:0;
}
body{
  margin: 0;
  background: #EFEFEF;
}
ul,li{
  margin: 0;
  padding:0;
  list-style: none;
}
a{
  text-decoration: none;
}
hr{
  height: 0;
  border:none;
  border-top:1px solid #DEDEDE;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.topNavBar-inner{
  padding: 20px 16px;
}
.topNavBar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.logo{
  float: left;
  font-family:"Arial Black";
  font-size: 24px;
  padding-top: 3px;
  padding-bottom: 4px;
}
.rs{
  color: #E6686A; 
  margin-right: 4px;
}
.card{
  color: #9A9DA2;
}
.nav{
  float: right;
}
.nav>ul{
  padding-top: 10px;
  padding-bottom: 9px;
}
.nav>ul>li{
  float: left;
  margin-left: 26px;
}
.nav>ul>li>a{
  color: #B7B7B7;
  font-size: 12px;
  border-bottom: solid transparent 3px;
  padding: 3px;
  font-weight: bold;
}
.nav>ul>li>a:hover{
  border-bottom: solid #E06567 3px;
}
.banner{
  background: url("./img/rs-cover.jpg");
  background-position: center center;
  background-size: cover;
  height:515px;
}
.banner .mask{
  height: 515px;
  background: rgba(0,0,0,0.7);
}


.userCard{
  max-width:930px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding-top: 60px;
}
.userCard .picture{
  height: 343px;
  width:300px;
  background-image: url("./img/startuper-1.jpg");
  background-position: center center;
  background-size: cover;
  float:left;
  margin-left: 50px;
  margin-bottom: 55px;
}
.userCard .text{
  float: left;
  padding-left: 80px;
}
.userCard .text .welcome{
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: #E8676B;
  padding:5.5px 12px;
  position: relative;
}
.userCard .text .welcome .triangle{
  width:0px;
  height:0px;
  border:8px solid transparent;
  border-left-color:#E8676B;
  border-top-width:0;
  position: absolute;
  left: 4px;
  top:100%;
}
.userCard .text dl dt,
.userCard .text dl dd{
  float:left;
  padding-bottom: 16px; 
  font-size: 14px;
}
.userCard .text dl{
  padding-top: 20px;
}
.userCard .text dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard .text dl dd{
  width: 70%;
  color: #A0A3A9;
}
.userCard .text h1{
  padding-top: 35px;
}
.userCard .text p{
  padding-bottom: 20px;
}
.userCard > footer.media{
  background: #E8676B;
  text-align: center;
}
.userCard > footer.media > a{
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding:5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover{
  background: #CF505F;
}
.userCard svg{
  height: 30px;
  width: 30px;
  fill: white;
  vertical-align: top;
}

