*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  color: black;
  background: #EFEFEF;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.topNavBar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.topNavBar-inner{
  height: 70.5px;
  width: 82%;
  margin: 10px auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.topNavBar-inner > ul{
  margin-left: 497px;
  font-weight: bold;
  color: #A9ADB0;
}
.topNavBar-inner > ul > li{
  float: left;
  margin-right: 36px;
  font-size: 12px;
  display: block;
}
.topNavBar-inner > ul > li > a{
  padding: 10px 0;
  transition: all 0.2s;
}
.topNavBar-inner > ul > li > a:hover{
  border-bottom: 3px solid #E8676B;
}
.topNavBar-inner .logo{
  font-size: 28px;
  font-weight: bold;
  font-family:"Arial Black";
  float: left;
}
.topNavBar-inner .logo > .rs{
  color: #E8676B;
}
.topNavBar-inner .logo > .card{
  color: #9A9DA2;
}
.icon{
  background-image: url(./img/rs-cover.jpg);
  background-size: cover;
  background-position: center center;
  height: 516px;
}
.mask{
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.userCard{
  border: 1px solid black;
  background: #FFFFFF;
  max-width: 930px;
  margin: 0 auto;
  padding: 60px 50px;
}
.userCard > .userCard-inner{
  border: 1px solid black;
}
.userCard > .userCard-inner > .picture{
  background: url(./img/startuper-1.jpg);
  width: 295.5px;
  height: 343px;
  background-size: cover;
  background-position: center center;
  float: left;
  margin-right: 63px;
}            
.userCard .context > .hello{
  display: inline-block;
  padding: 6px 11px;
  background: #E8676B;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
  position: relative;
}
.userCard .context dt,
.userCard .context dd{
  float: left;
  width: 30%;
}
.userCard .context .triangle{
  display:block;
  width:0px;
  height:0px;
  border:10px solid transparent;
  border-left-color:#E8676B;
  border-top-width:0;
  position: absolute;
  top: 100%;
  left: 4px;
}

